.AccountBody{
    background-image: url(../images/img2.svg);
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    /* overflow: scroll; */
    /* position: fixed; */
    overflow: hidden;
}

.MiddleBg{
    background-image: url(../images/middleBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    margin: auto;
    width: 86%;
    height: 96%;
    padding: 10px;
}


#epharm{
    left: 3%;
    top: 2%;
    font-family: Ubuntu;
    position:absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* E-Pharm */
    background: -webkit-linear-gradient(#0041BF 0%, #000F2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.NavBar{
  width: 96%;
  height: 15%;
  top: 50px;
  bottom: 25px;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 20%;
  width: 15%;
  top: 30%;
  position: fixed;
  left: 15%;
  /* z-index: 1; */
  /* top: 0;
  left: 0; */
  background-color: rgb(253, 253, 253);
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.blueBar {
  height: 20%;
  width: 3%;
  top: 30%;
  position: fixed;
  border-radius: 30px 0px 0px 30px;
  left: 12%;
  /* z-index: 1; */
  /* top: 0;
  left: 0; */
  background-color: rgb(10, 14, 240);
  /* overflow-x: hidden;
  padding-top: 20px; */
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  background-color:rgb(253, 253, 253);
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  height: 10%;
  font-weight: bold;
  block-size: 40%;
  /* font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none; */
}

.dropdown-btn button{
    border-width: 5px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}



/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  background-color: #ccc;
}



/* Add an active class to the active dropdown button */
.sidenav a.active {
  background-color: #65c6f0;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #1273ce;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* .vertical-menu {
  width: 25%;
  float: left;
  position: fixed;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #1b93c7;
  color: white;
} */

.OuterDetailsCard{
  width: 60%;
  height: 80%;
  padding: 10px;
  position: relative;
  left: 35%;
  /* border: 5px solid #1b93c7; */
  background: #FFFFFF;
  
  border-radius: 45px 0px;
  text-align: center;
}

.DetailsCard{
  display: inline-block;
  margin: 0 auto;
  top: 5%;
  width: 90%;
  height: 90%;
  padding: 10px;
  position: relative;
  /* left: 10%; */
  border: 5px solid #1b93c7;
  background: #FFFFFF;
  /* border-style: inset; */
  border-radius: 45px 0px;
  /* text-align: center; */
}

.tag{
  text-align: left;
  font-family: Ubuntu;
  display: inline-block;
  margin: 0 auto;
  height: 10%;
  width: 100%;
  left: 30%;
  padding: 20px;
}

.detail{
  /* text-align: left; */
  font-family: Ubuntu;
  /* display: inline-block; */
  margin: 0 auto;
  height: 10%;
  width: 80%;
  left: 10%;
  padding: 20px;
}

.edit{
  text-align: center;
}

.edit button{
  left: 70%;
  margin: 25px 18px 25px 6px;
  padding-left: 10px;
  width: 30% !important;
  height: 40px;
  border: 2px solid #1b93c7;
  border-radius: 45px;
  background-color: #1b93c7;
  text-align: center;
  color: #fff;
}


