body{
    background-image: url(../images/img2.svg);
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    /* overflow: scroll; */
    /* position: fixed; */
    overflow: hidden;
}

.MiddleBg{
    background-image: url(../images/middleBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    margin: auto;
    width: 86%;
    height: 96%;
    padding: 10px;
}


#epharm{
    left: 3%;
    top: 2%;
    font-family: Ubuntu;
    position:absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* E-Pharm */
    background: -webkit-linear-gradient(#0041BF 0%, #000F2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.NavBar{
  width: 96%;
  height: 15%;
  top: 50px;
  bottom: 25px;
}
.vertical-menu {
  width: 25%;
  float: left;
  position: fixed;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #1b93c7;
  color: white;
}


.PrescDetail{
  background-color: #fff;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}
.detail{
  height: 25%;
  width: 100%;
  padding: 20px;
}

.edit{
  text-align: center;
}

.edit button{
  left: 70%;
  margin: 25px 18px 25px 6px;
  padding-left: 10px;
  width: 30% !important;
  height: 40px;
  border: 2px solid #1b93c7;
  border-radius: 45px;
  background-color: #1b93c7;
  text-align: center;
  color: #fff;
}


.a1{
  border-top-right-radius: 30px;
}
.a3{
  border-bottom-right-radius: 30px;
}

/* .PrescriptionContainer{
  overflow-y: auto;
} */

.ImgDiv{
  width: 200px;
  text-align: center;
  /* padding: 25px; */
  
  float: left;
}

.presImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.noteDiv{
  position: relative;
  /* left: 200px; */
  top: 20px;
  height: 150px;
  /* text-align: center; */
}

.cardBottom{
  float: none;
  top: 200px;
  left: 20px;
  text-align: center;
}

.buttonArea{
  top: 400px;
  text-align: right;
}

.LoginForm{
  width: 50%;
  height: 530px;
  position: absolute;
  left: 30%;
  top: 15%;
  /* background-color: #fff; */
  border-radius: 10px;
  overflow-y: auto;
}

.PresDetailCard{
  /* width: 50%; */
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  /* left: 30%; */
  top: 40px;
  
}

.FilterArea{
  width: 20%;
  height: 80%;
  position: absolute;
  left: 80%;
  top: 15%;
  
  border-radius: 10px;
  overflow-y: auto;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
