.container {
  background-image: url(../images/landingMain_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 86%;
  height: 96%;
  top: 2%;
  left: 7%;
  position: absolute;
  overflow: hidden;
}

.index_body {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../images/background_img.svg);
  background-position: top top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: Ubuntu;
}

.out-dv {
  position: absolute;
  width: 1054px;
  height: 561px;
  left: 10%;
  top: 15%;

  background: #ffffff;
}

.in-dv {
  position: absolute;
  width: 1014px;
  height: 521px;
  left: 2%;
  top: 4%;
  overflow-y: auto;
  border: 5px solid #1b93c7;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 2%;
}
