body{
    background-image: url(../images/img2.svg);
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    /* overflow: scroll; */
    /* position: fixed; */
    overflow: hidden;
}

.MiddleBg{
    background-image: url(../images/middleBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    margin: auto;
    width: 86%;
    height: 96%;
    padding: 10px;
}


#epharm{
    left: 3%;
    top: 2%;
    font-family: Ubuntu;
    position:absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* E-Pharm */
    background: -webkit-linear-gradient(#0041BF 0%, #000F2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.NavBar{
  width: 96%;
  height: 15%;
  top: 50px;
  bottom: 25px;
}

/* .vertical-menu {
  width: 25%;
  float: left;
  position: fixed;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
} */

/* .vertical-menu a:hover {
  background-color: #ccc;
} */

/* .vertical-menu a.active {
  background-color: #1b93c7;
  color: white;
} */



.vertical-menu {
  position: absolute;
  
  width: 13%;
  top: 35.5%;
  left: 9.3%;
  height: 36.4%;
  
  border-top:1px solid black ;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top-right-radius: 30px;
   border-bottom-right-radius: 30px; 
  
  
}
  
  .vertical-menu a {
    
    background-color: #eee;
    color: black;
     display: block; 
     block-size: 60px;
    padding: 12px;
    text-decoration: none;
    
    font-weight: bold;
    
    
    
    
  }
  .vertical-menu .a4{
      block-size: 80px;
      padding-top: 20px;
  }

  
  
  .vertical-menu a:hover{
    background-color: #ccc;
  }
  .vertical-menu a.active {
    background-color: #65c6f0;
    color: white;
    /* border-top-right-radius: 30px;  */

  }
  
  
  .stripe{
    top: 36%;
    position: fixed;
    width: 3%;
    height:36.44%;
    border-radius: 30px 0px 0px 30px;
    background: #1B93C7;
    left: 12%;
    border-bottom: 1px solid black;
    border-top:1px solid black ;
    border-left: 1px solid black;
     
  }
  
  
  .a1{
    border-top-right-radius: 30px;
  }

  .a5{
    border-bottom-right-radius: 30px; 
  }

  .orderType{
    position: absolute;
    
    width: 6%;
    top: 53%;
    left: 16.3%;
    height: 11%;
    z-index: 10;
    
   
  }

.delivery{
  position: absolute;
  height: 50%;
  border-bottom: 1px solid black;
}
.pickup{
  position: absolute;
  top:50%;
  height: 50%;
}

.delivery-pickup{
  position: absolute;
  background-color: #eee;
  color: black;
  display: flex;
  background: grey;
  
  color: white;
  text-decoration: none;
  
  font-weight: bold;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
  
}


.OuterDetailsCard{
  width: 60%;
  height: 80%;
  padding: 10px;
  position: relative;
  left: 35%;
  /* border: 5px solid #1b93c7; */
  background: #FFFFFF;
  
  border-radius: 45px 0px;
  text-align: center;
}

/* .DetailsCard{
  width: 60%;
  height: 80%;
  padding: 10px;
  position: relative;
  left: 30%;
  border: 5px solid #1b93c7;
  background: #FFFFFF;
  border-radius: 45px 0px;
  text-align: left;
} */

.DetailsCard{
  display: inline-block;
  margin: 0 auto;
  top: 5%;
  width: 90%;
  height: 90%;
  padding: 10px;
  position: relative;
  /* left: 10%; */
  border: 5px solid #1b93c7;
  background: #FFFFFF;
  /* border-style: inset; */
  border-radius: 45px 0px;
  /* text-align: center; */
}


.detail{
  height: 10%;
  width: 100%;
  padding: 20px;
}

.edit{
  text-align: center;
}

.edit button{
  left: 70%;
  margin: 25px 18px 25px 6px;
  padding-left: 10px;
  width: 30% !important;
  height: 40px;
  border: 2px solid #1b93c7;
  border-radius: 45px;
  background-color: #1b93c7;
  text-align: center;
  color: #fff;
}
